{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type= "text/css" href="{% static '/css/style.css' %}">
</head>
<body>
	<div id="nav" class="shadow">
		<ul>
			<div class="shadow p-3 mb-5 rounded">
				<img src="{%static 'logo.png' %}">
				<p>Welcome, {{user.first_name}}</p>
			</div>
			{%if request.user.is_superuser%}
				<li><a href="{%url 'authenticate:home' %}">Home</a></li>
				<li><a href="{%url 'projects:index' %}">Projects</a></li>
				<li><a href="{%url 'projects:personnel' %}">Manage Members</a></li>
			{%endif%}
			{%if request.user.is_staff%}
				<li><a href="{%url 'tickets:index' %}">Tickets</a></li>
			{%endif%}
				<li><a href="{%url 'user_profile:index' %}">User Profile</a></li>
				<li><a href="{%url 'tickets:submit' %}">Submit Ticket</a></li>
				<li><a href="{%url 'authenticate:logout' %}">Log Out</a></li>
		</ul>
	</div>
	<div id="header" class="shadow p-3 mb-5 rounded">
		<h1>Logged in as {{user.user_name}}</h1>
	</div>
	<div id="main">
		{% block body%}
		{%endblock%}
	</div>
</body>
</html>

