{% extends "authenticate/layout2.html" %}

{% block body%}
	<div>
		<h1 class="card-title text-center text-white"> Login </h1>
	</div>
	<div>
		{%for message in messages%}
			<div>
				<b class="text-danger">{{message}}</b>
			</div>
		{%endfor%}
	</div>
	<div class="card-body text-white text-center">
		<form method= "post" action = "{% url 'authenticate:login' %}">
			{% csrf_token %}
			<div class="form-group">
				Email: <input type ="text" placeholder = "email" name= "email">
			</div>
			
			<div class="form-group">
				Password: <input type ="password" placeholder = "password" name= "password">
			</div>

			<input class="btn btn-secondary" type= "submit" value="submit">
		</form>
		<a class = "card-link" href = "{% url 'authenticate:register' %}">Don't have an account? Register here!</a>
	</div>
{%endblock%}