{% extends "authenticate/layout.html" %}
{% block body %}
	<div>
		{%for message in messages%}
			<div>
				<b>{{message}}</b>
			</div>
		{%endfor%}
	</div>
	<div>
		<h1>Ticket Details</h1>
	</div>
	<div>
		<table>
			<tr>
				<th>Ticket #</th>
				<th>Project</th>
				<th>Submitted by</th>
				<th>Priority</th>
				<th>Assigned to</th>
				<th>Type</th>
				<th>Description</th>
				<th>Created</th>
				<th>Last Edited</th>
				<th>Status</th>
			</tr>
			<tr>
				<td>{{ticket.id}}</td>
				<td>{{ticket.project}}</td>
				<td>{{ticket.submitter}}</td>
				<td>{{ticket.priority}}</td>
				<td>{{ticket.personnel}}</td>
				<td>{{ticket.race}}</td>
				<td>{{ticket.description}}</td>
				<td>{{ticket.timecreated}}</td>
				<td>{{ticket.lastEdited}}</td>
				<td>{{ticket.status}}</td>
			</tr>
		</table>
	</div>
	<div>
		<form method="post" action="{% url 'tickets:upload' ticket.id %}" enctype="multipart/form-data">
			<h3>Ticket Attachments</h3>
			{%csrf_token%}
			{{form2.as_p}}
			<button type="submit">Upload</button>
		</form>
	</div>
	<div>
		<h3>Attachments</h3>
		<div>
			<ol>
				{% for attachment in attachmentsList %}
					<li>{{attachment.file}}</li>
				{%endfor%}
			</ol>
		</div>
	</div>
{% endblock %}
