{% extends "authenticate/layout.html" %}
{%block body%}
	<div class="d-flex justify-content-center">
		<div class="user_card text-center text-white col-sm-9">
			<h1 class="card-title">Edit Ticket</h1>
			<div>
				<form method="post" action="">
					{%csrf_token%}
					<div>
						{%for field in form%}
							<div>
								{{field.label}}: {{field}}
							</div>
							<br>
						{%endfor%}
					</div>
					<button class="btn btn-outline-light"type='submit'>Submit</button>
				</form>
			</div>
		</div>
	</div>
{%endblock%}