{% extends "authenticate/layout.html" %}
{% block body %}
	<div>
		{%for message in messages%}
			<div>
				<b class="text-danger">{{message}}</b>
			</div>
		{%endfor%}
	</div>
	<div class="form_card">
		<form method="post" action="{% url 'tickets:submit' %}">
			<h2 class="text-center">Submit a Ticket</h2>
			<div class="d-flex align-items-stretch justify-content-center">
				{% csrf_token %}
				{%for field in form%}
					<span class="m-2">
						{{field.label}}: {{field}}
					</span>
				{%endfor%}
				<button class="btn btn-outline-warning" type="submit">Submit</button>
			</div>
		</form>
	</div>
	<div class="table_card">
		<div>
			<h2 class="text-center">Tickets List</h2>
		</div>
		<div>
			<form method="get">
				{% csrf_token %}
				<div class="d-flex align-items-stretch justify-content-center">
					{% for field in ticket_filter.form %}
						<span class="ml-2 mr-2 mb-2">
							{{field.label}}: {{ field }}
						</span>
					{% endfor %}
					<button  class="btn btn-outline-warning ml-2 mb-2" type="submit">Submit</button>
					<br>
				</div>
			</form>
		</div>
		<div>
			<table class="table">
				<div>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Assigned Project</th>
						<th scope="col">Submitter</th>
						<th scope="col">Priority</th>
						<th scope="col">Status</th>
						<th scope="col">      </th>
					</tr>
				</div>
				{% for ticket in ticket_list %}
					<div>
						<tr>
							<td scope="col">{{ticket.id}}</td>
							<td scope="row">{{ticket.project}}</td>
							<td scope="row">{{ticket.submitter}}</td>
							<td scope="row">{{ticket.priority}}</td>
							<td scope="row">{{ticket.status}}</td>
							<td scope="row"><ul>
									<a href="{% url 'tickets:details' ticket.id %}">Details</a>
								</ul>
								<ul>
									<a href="{% url 'tickets:edit' ticket.id %}">Edit</a>
								</ul>
							</td>
						</tr>
					</div>
				{%endfor%}
			</table>
		</div>
	</div>

{% endblock %}
