{% extends "authenticate/layout.html" %}
{% block body %}
	<div>
		{%for message in messages%}
			<div>
				<b class="text-danger">{{message}}</b>
			</div>
		{%endfor%}
	</div>
	<div class="d-flex justify-content-center">
		<div class="user_card text-center text-white col-sm-6">
			<div class="d-flex justify-content-center">
				<div>
					<form method="post" action="{% url 'tickets:submit' %}">
						<h2 class="card-title">Submit a Ticket</h2>
						{% csrf_token %}
						{%for field in form%}
							{{field.label}}: {{field}} <br>
						{%endfor%}
						<button class="btn btn-outline-light" type="submit">Submit</button>

					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
